<div class="block notice">
  <h3>Looking for a Name...</h3>
  <div class="content">
    <p>We are looking for a good name and logo for the "Supporting those in need site".</p><p>  Please let us know if you have some recommendations.  Thank you
		</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>