<div class="block notice">
  <h3>Organizations</h3>
  <div class="content">
    <p>Please add your favorite Organization.</p>
	<p>Once you have added it, you can start to record your activities and efforts to help the organization.</p>
  </div>
</div>
<div class="block">
  <h3>Links and shortcuts</h3>
  <ul class="navigation">
      <li class="first"><%= link_to 'Organizations', orgs_path %></li>
      <li class="first"><%= link_to 'Users', profile_list_path %></li>
      <li class="first"><%= link_to 'Activities', activities_path %></li>
      <li class="first"><%= link_to 'Donations', donations_path %></li>
  </ul>
</div>