
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "List", orgs_path  %></li>
      <li><%= link_to "New", new_org_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Organizations</h2>
    <div class="inner">

		<div id="table"> <%= render :partial => 'index', :layout => false %>
		</div>
		
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
