<div class="block" id="block-text">  
  <div class="content">
    <h2 class="title">Welcome!</h2>
    <div class="inner">
      <p class="first">
        Our Mission is the help those in need through activities and through financial support.  We have created this web site to record and manage our activities so that we can be more efficient and effective with our time and money.  If you have not done so already, please setup your user profile and start to record your activities and charitable donations.</p>
      <hr />
    <h2>Total Activities for the Month: <%= total_activities %></h3>
	<h2>Total Time for the Month: <%= total_time %></h3> 
	<h2>Total Donations for the Month: <%= number_to_currency(total_donations) %></h3>
	<hr>
	 <p>Please contact Andy with all suggestions to make the site more effective.</p>
	<h1>Thank you for all your efforts to help</h1>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>