<div class="block notice">
  <h3>Simple Block</h3>
  <div class="content">
    <p>There are many ways to make a Donation.  Money is good, but donating appreciated stock has tax advantages</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
      <li class="first"><%= link_to 'Organizations', orgs_path %></li>
      <li class="first"><%= link_to 'Users', profile_list_path %></li>
      <li class="first"><%= link_to 'Activities', activities_path %></li>
      <li class="first"><%= link_to 'Donations', donations_path %></li>
  </ul>
</div>