<div class="block notice">
  <h3>My Activities</h3>
  <div class="content">
    <p>Here is the record of your activities.</p>
	<p>You can select the organization and month to narrow down the information.</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
      <li class="first"><%= link_to 'Organizations', orgs_path %></li>
      <li class="first"><%= link_to 'Users', profile_list_path %></li>
      <li class="first"><%= link_to 'Activities', activities_path %></li>
      <li class="first"><%= link_to 'Donations', donations_path %></li>
  </ul>
</div>


