<div class="block notice">
  <h3>User Guide</h3>
  <div class="content">
    <p>This is where you can edit your profile or change your password.  See Andy of you need more assistance.</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">My Activities</a></li>
    <li><a href="#">My Organizations</a></li>
  </ul>
</div>